@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
*{
    
    margin: 0%;
    padding: 0%;

}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
}

h1{
    float: left;
}

.contenedor{
    width: 98%;
    margin: auto;
}
/*estilos seccion bienvenida*/
#bienvenida {
    font-family: cursive;
    margin-top: 45px;
    padding: 15px;
    color: white;
}

#bienvenida h2{
    text-align: center;
}

.carousel-inner img{
    height: 300px;
    width: 300px;

}
.carousel-inner H5{
    color: white;
}
.servicios{
    color: white;
    padding: 10px;
    margin-left: 40%;
}

#valor_dolar{
    color: black;
}
#imagenes{
    margin: 10px;
}

.img-fluid{
    margin-left: 30%;
    padding: 10px;
    
}

/**************************************/